*{
    box-sizing: border-box;
    margin: none;
    padding: none;
    
    /* color: whitesmoke !important; */
}
body{
    background-color: #F7AEF8;
}
/* HEADER */
.navbar-brand, .text{
    color: #EF233C !important;
}
.nav-item .nav-link, .m-o-c{
    color: whitesmoke !important;
}
.nav-item a:hover {
    color: #EF233C !important;
}
#navbar .scrolled{
    background: #B388EB;
    transition: background 500ms;
}
/* HEADER ENDS */

/* MAIN */
main{
    height: 1000px;
}
.m-o-c{
    margin-top: 150px;
}
.gumball-img img{
    height: 50vw;
    width: 100%;
}

.image img{
    width: 100%;
    height: 700px;
}

/* ṂAIN ENDS */

@media (max-width:992px) {
    .gumball-img img{
        height: 75vw;
    }
    .image img{
        height: 80vw;
    }
}
@media (max-width:768px) {
    .image img{
        height: 90vw;
    }
}